@model IEnumerable<SocialNetwork.Domain.Entities.PictureModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UriImageAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UriImageAlbum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumId)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
